In [1]:
1 + 1

2

In [2]:
# conventional way to import pandas
import pandas as pd

In [2]:
print pd.__version__

0.18.1

In [3]:
## 2. How do I read a tabular data file into pandas?

In [23]:
df = pd.read_csv("/home/ks/coding/cec_workshop/pandas/data/imdb_1000.csv")

In [5]:
## examine the first five rows
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
## last 5 columns 
df.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

# Explaining the dataframe

In [8]:
#getting information from the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
star_rating       979 non-null float64
title             979 non-null object
content_rating    976 non-null object
genre             979 non-null object
duration          979 non-null int64
actors_list       979 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [10]:
#More statistical information
df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [13]:
#Count of each column in dataframe
df.count()

star_rating       979
title             979
content_rating    976
genre             979
duration          979
actors_list       979
dtype: int64

In [27]:
# we can know the shape of the dataframe
df.shape

(979, 6)

In [28]:
# what type is the dataframe ?
df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

# Exercise 1 

- Read any other csv file and load into dataframe.
- Create an excel file and load it to dataframe.
- From where else can we create a pandas dataframe?

In [7]:
test_df = pd.read_excel("/home/ks/coding/cec_workshop/test.xls")

In [8]:
test_df.head()

   A  B  C  D
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

In [10]:
#Your code goes here

pd.read_csv?

# What to do when we are not sure of syntax

- Exploration using Jupyter 

  ? magic
  
- Ask Gokul.

# Pandas Series, Not series exams

In [19]:
#Let's see our dataframe again
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [21]:
#what type is this
type(df)

pandas.core.frame.DataFrame

In [12]:
type(df.genre)

pandas.core.series.Series

In [23]:
type(df.title)

pandas.core.series.Series

In [14]:
# We can Slice the series
df.genre[1:20]

1         Crime
2         Crime
3        Action
4         Crime
5         Drama
6       Western
7     Adventure
8     Biography
9         Drama
10    Adventure
11       Action
12       Action
13        Drama
14    Adventure
15    Adventure
16        Drama
17        Drama
18    Biography
19       Action
Name: genre, dtype: object

In [15]:
# Columns 
df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [16]:
df.rename?

In [17]:
# Renaming the columns 
df.rename(columns={"star_rating":"rating","duration":"time"},inplace=True)

In [18]:
df.head()

,rating,title,content_rating,genre,time,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [24]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [27]:
#dropping a column that is not necessary

df.drop('content_rating', axis = 1,inplace=True)

In [28]:
df.head()

,star_rating,title,genre,duration,actors_list
0,9.3,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
df.head()

In [21]:
#dropping rows 
df.drop([0,1,2], axis = 0, inplace=True)

In [22]:
df.head()

,rating,title,genre,time,actors_list
3,9.0,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."

# Exercise 2

- Read a dataframe using the titatic dataset (titanic_test.csv) .
- Rename the column names Pclass to class 
- Drop columns Cabin
- Identify the shape 
- Describe and find count.

In [36]:
#Your code goes here

In [39]:
#Your code goes here

In [38]:
#Your code goes here

In [40]:
#Your code goes here