In [ ]:
import pandas as pd

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('/home/ks/coding/cec_workshop/pandas/data/drinks.csv')
drinks.head()

In [ ]:
# calculate the mean beer servings across the entire dataset
drinks.beer_servings.mean()

In [ ]:
# calculate the mean beer servings just for countries in Africa
drinks[drinks.continent=='Africa'].beer_servings.mean()

In [ ]:
drinks[drinks.continent=='Europe'].head()

In [ ]:
# calculate the mean beer servings for each continent
drinks.groupby('continent').beer_servings.mean()

In [ ]:
# other aggregation functions (such as 'max') can also be used with groupby
drinks.groupby('continent').wine_servings.max()

In [ ]:
# multiple aggregation functions can be applied simultaneously
drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max'])

In [ ]:
# specifying a column to which the aggregation function should be applied is not required
drinks.groupby('continent').mean()

# Handling missing values in Pandas

In [ ]:
# read a dataset of UFO reports into a DataFrame
import pandas as pd
ufo = pd.read_csv('/home/ks/coding/cec_workshop/pandas/data/ufo.csv')
ufo.tail()

**What does "NaN" mean?**

- "NaN" is not a string, rather it's a special value: **`numpy.nan`**.
- It stands for "Not a Number" and indicates a **missing value**.
- **`read_csv`** detects missing values (by default) when reading the file, and replaces them with this special value.

In [ ]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
ufo.isnull().tail()

In [ ]:
# 'nonnull' returns the opposite of 'isnull' (True if not missing, False if missing)
ufo.notnull().tail()

In [ ]:
# count the number of missing values in each Series
ufo.isnull().sum()

In [ ]:
# use the 'isnull' Series method to filter the DataFrame rows
ufo[ufo.City.isnull()].head()

**How to handle missing values** depends on the dataset as well as the nature of your analysis. Here are some options:

In [ ]:
# examine the number of rows and columns
ufo.shape

In [ ]:
# if 'any' values are missing in a row, then drop that row
ufo.dropna(how='any').shape

In [ ]:
# 'inplace' parameter for 'dropna' is False by default, thus rows were only dropped temporarily
ufo.shape

In [ ]:
# if 'all' values are missing in a row, then drop that row (none are dropped in this case)
ufo.dropna(how='all').shape

In [ ]:
ufo.head()

In [ ]:
# if 'any' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

In [ ]:
# if 'all' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

In [ ]:
# 'value_counts' does not include missing values by default
ufo['Shape Reported'].value_counts().head()

In [ ]:
# explicitly include missing values
ufo['Shape Reported'].value_counts(dropna=False).head()

In [ ]:
# fill in missing values with a specified value
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)

In [ ]:
# confirm that the missing values were filled in
ufo['Shape Reported'].value_counts().head()

# Selecting rows and columns from dataframe

The [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) method is used to select rows and columns by **label**. You can pass it:

- A single label
- A list of labels
- A slice of labels
- A boolean Series
- A colon (which indicates "all labels")

In [ ]:
ufo.head()

In [ ]:
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

In [ ]:
# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

In [ ]:
# this implies "all columns", but explicitly stating "all columns" is better
ufo.loc[0:2]

In [ ]:
# rows 0 through 2 (inclusive), column 'City'
ufo.loc[0:2, 'City']

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' and 'State'
ufo.loc[0:2, ['City', 'State']]

In [ ]:
# accomplish the same thing using double brackets - but using 'loc' is preferred since it's more explicit
ufo[['City', 'State']].head(3)

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)
ufo.loc[0:5, 'City':'State']

In [ ]:
# accomplish the same thing using 'head' and 'drop'
ufo.head(5).drop('Time', axis=1)

In [ ]:
# rows in which the 'City' is 'Oakland', column 'State'
ufo.loc[ufo.City=='Oakland', 'State']

In [ ]:
# accomplish the same thing using "chained indexing" - but using 'loc' is preferred 
#since chained indexing can cause problems
ufo[ufo.City=='Oakland'].State

The [**`iloc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) method is used to select rows and columns by **integer position**. You can pass it:

- A single integer position
- A list of integer positions
- A slice of integer positions
- A colon (which indicates "all integer positions")

In [ ]:
# rows in positions 0 and 1, columns in positions 0 and 3
ufo.iloc[[0, 1], [0, 3]]

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
ufo.iloc[0:2, 0:4]

In [ ]:
# rows in positions 0 through 2 (exclusive), all columns
ufo.iloc[0:2, :]

In [ ]:
# accomplish the same thing - but using 'iloc' is preferred since it's more explicit
ufo[0:2]

The [**`ix`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.ix.html) method is used to select rows and columns by **label or integer position**, and should only be used when you need to mix label-based and integer-based selection in the same call.

In [ ]:
# read a dataset of alcohol consumption into a DataFrame and set 'country' as the index
drinks = pd.read_csv('/home/ks/coding/cec_workshop/pandas/data/drinks.csv', index_col='country')
drinks.head()

In [ ]:
# row with label 'Albania', column in position 0
drinks.ix['Albania', 0]

In [ ]:
# row in position 1, column with label 'beer_servings'
drinks.ix[1, 'beer_servings']

**Rules for using numbers with `ix`:**

- If the index is **strings**, numbers are treated as **integer positions**, and thus slices are **exclusive** on the right.
- If the index is **integers**, numbers are treated as **labels**, and thus slices are **inclusive**.

In [ ]:
# rows 'Albania' through 'Andorra' (inclusive), columns in positions 0 through 2 (exclusive)
drinks.ix['Albania':'Andorra', 0:2]

# That's a wrap on Pandas for now

## Few things more to learn

- JOIN dataframes
- pivot , melt 
- exploring the pd.
-

In [ ]:
#drinks.to_csv

In [ ]:
#drinks.to_pickle